.block-credits {
	@include media(">=lg") {
		padding: 0 rem(113);
	}
	&__quote {
		color: $color-mine-shaft;
		margin-bottom: rem(18);
		@include font(24, false, 500);
		@include media(">=lg") {
			@include font(36);
			margin-bottom: rem(49);
		}
	}
	&__client {
		display: flex;
		gap: rem(20);
		flex-wrap: wrap;
	}
	&__img {
		overflow: hidden;
		width: rem(70);
		height: rem(70);
		border-radius: rem(14);
	}
	&__client-name {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: space-evenly;
		color: $color-mine-shaft;
		@include font(24, false, 500);
	}
	&__client-company {
		color: $color-gray;
		@include font(18, false, 500);
	}
}
