.block-projects {
	h2 {
		margin-left: rem(39);
		width: rem(250);
		margin-bottom: 0;
		@include media(">=lg") {
			margin-left: 0;
			width: rem(400);
		}
	}
	@include media(">=xxl") {
		padding: 0 rem(113);
	}
	&__examples {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		@include media(">=xl") {
			flex-direction: row;
			flex-wrap: wrap;
			gap: 2%;
			align-items: flex-start;
		}
	}
	&__project {
		flex-basis: 100%;
		width: 100%;
		position: relative;
		@include media(">=xl") {
			width: 49%;
			flex-basis: 49%;
			&:nth-of-type(odd) {
				margin-top: rem(188);
			}
		}
		& h4:last-of-type {
			margin-bottom: rem(36);
		}
	}
	&__visual {
		width: 100%;
		height: rem(351);
		margin: rem(48) 0 rem(10);
		overflow: hidden;
		@include media(">=lg") {
			height: rem(534);
		}
		@include media("<xs") {
			height: rem(301);
		}
	}
	&__img {
		@include object-fit-cover();
		overflow: hidden;
		border-radius: rem(24);
	}
	&__description {
		color: $color-gray;
		margin-bottom: rem(7);
	}
	&__link {
		@include hover-underline-blue();
	}
	&__cta-box {
		display: flex;
		flex-wrap: wrap;
		gap: rem(10);
		align-items: baseline;
		justify-content: flex-start;
		@include media(">=lg") {
			justify-content: flex-end;
		}
	}
	&__cta {
		color: $color-curious-blue;
		@include font(18, false, 500);
		@include hover-underline-blue();
		@include media(">=lg") {
			@include font(24);
		}
		&-arrow {
			color: $color-curious-blue;
			@include font(18);
			@include media(">=lg") {
				@include font(24);
			}
		}
	}
}
