.block-projects {
	h2 {
		margin-left: rem(39);
		width: rem(250);
		margin-bottom: rem(48);
		@include media(">=lg") {
			margin-bottom: 0;
			margin-left: 0;
			width: rem(400);
		}
	}
	@include media(">=xxl") {
		padding: 0 rem(113);
	}
	&__examples {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		row-gap: rem(36);
		@include media(">=sm") {
			flex-direction: row;
			flex-wrap: wrap;
			align-items: flex-start;
		}
	}
	&__project {
		width: 100%;
		align-self: center;
		position: relative;
		display: flex;
		flex-direction: column;

		@include media(">=sm") {
			width: 49%;
			height: rem(300);
			flex-basis: 49%;
			margin-bottom: 0;
			&:nth-of-type(odd) {
				margin-top: rem(50);
			}
			@include media(">=lg") {
				height: 100%;
				&:nth-of-type(odd) {
					margin-top: rem(120);
				}
			}
		}
	}
	&__visual {
		width: 100%;
		height: rem(351);
		margin-bottom: rem(20);
		overflow: hidden;
		position: relative;
		@include media(">=lg") {
			height: rem(534);
		}
		@include media("<xs") {
			height: rem(301);
		}
	}
	&__img {
		@include object-fit-cover();
		overflow: hidden;
		border-radius: rem(24);
	}
	&__description {
		color: $color-gray;
		margin-bottom: rem(7);
	}
	&__link {
		@include hover-underline-blue();
	}
	&__cta-box {
		display: flex;
		flex-wrap: wrap;
		gap: rem(10);
		align-items: baseline;
		justify-content: flex-start;
		margin-top: rem(36);
		@include media(">=lg") {
			justify-content: flex-end;
		}
	}
	&__cta {
		color: $color-curious-blue;
		@include font(18, false, 500);
		@include hover-underline-blue();
		@include media(">=lg") {
			@include font(24);
		}
		&-arrow {
			color: $color-curious-blue;
			@include font(18);
			@include media(">=lg") {
				@include font(24);
			}
		}
	}
}
