h1 {
	color: $color-mine-shaft;
	@include font(26, 35, 500);
	@include media(">=lg") {
		@include font(48);
	}
}

h2 {
	color: $color-mine-shaft;
	margin-bottom: rem(14);
	@include font(24, 35, 500);
	@include media(">=lg") {
		@include font(36);
		width: rem(452);
	}
}

h3 {
	color: $color-mine-shaft;
	@include font(24, false, 700);
	margin-bottom: rem(24);
}
h4 {
	color: $color-mine-shaft;
	@include font(18, false, 500);
	@include media(">=lg") {
		@include font(24);
	}
}

p {
	@include font(16);
}
