/*
----------------------------------------
FONTS
*/
//families
$font-base: "Poppins", sans-serif;
$font-montserrat: "Montserrat", sans-serif;
$font-heebo: "Heebo", sans-serif;

//basic size
$font-size-base: rem(12);
$line-height-base: normal;

// font weights
$font-weight-light: 300;
$font-weight-base: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
